<header class="navbar navbar-expand-md fixed-top navbar-light bg-light">
	<nav class="container-fluid flex-wrap flex-md-nowrap">
		<a class="navbar-brand" routerLink="/">Inicio</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navlinks"
			aria-controls="navlinks"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navlinks" class="navbar-collapse collapse">
			<ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
				<li class="nav-item col-6 col-md-auto">
					<a routerLink="/about-me" class="nav-link p-2">Sobre Mi</a>
				</li>
				<li class="nav-item col-6 col-md-auto">
					<a routerLink="/games/nonogram" class="nav-link p-2">NonoGram</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
